.symptomes__wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1420px;
    margin-top: 20px;
    & .symptomes__title {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 165%;
        /* or 66px */
        color: #213450;
    }
    & .symptomes__subtitle {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 165%;
        /* or 26px */
        display: flex;
        align-items: flex-end;
        color: #001636;
        max-width: 900px;
    }
}

.symptomes {
    & .symptomes__info {
        width: 100%;
        max-width: 432px;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        & .symptomes__info-icon {
            width: 180px;
            max-width: 192px;
            margin-bottom: 20px;
            & .symptomes__description {
                margin-top: 5px;
            }
        }
    }
    & .symptomes__video {}
}