<div class="symptomes__wrapper" id="symptomes">
    <h2 class="symptomes__title">Какие симптомы помогает снять Тамиз?​</h2>
    <h3 class="symptomes__subtitle">Фирменная смесь «Тамиз» - это 5 трав, собранных вместе для комплексного воздействия на организм с целью нормализации процессов пищеварения​</h3>
    <div class="symptomes">
        <div class="symptomes__info">
            <div class="symptomes__info-icon" *ngFor="let symptome of symptomes">
                <img class="symptomes__icon" src="{{symptome.src}}">
                <p class="symptomes__description">{{symptome.description}}</p>
            </div>
        </div>
        <div class="symptomes__video" *ngIf="!mobile">
            <h4 class="video__title">Рекомендации врача​</h4>
            <p class="video__description"> Согласно действующему законодательству Российской Федерации, вся информация данного раздела (далее Информация) доступна только для медицинских и фармацевтических работников. В связи с этим для доступа к Информации необходимо подтвердить наличие
                у вас профессионального медицинского образования, а также ваш статус действующего медицинского или фармацевтического работника. Вы являетесь медицинским или фармацевтическим работником?</p>

            <div class="button__wrapper">
                <button (click)="openDialog()" class="primary__button">Да</button>
                <button class="decline__button">Нет</button>
            </div>


        </div>
        <div class="symptomes__video" *ngIf="mobile">
            <h4 class="video__title">Рекомендации врача​</h4>
            <div class="button__wrapper">
                <button (click)="openDialog()" class="primary__button">Да</button>
                <button class="decline__button">Нет</button>
            </div>
        </div>
    </div>
</div>