:host::ng-deep {
    @import "swiper/scss";
    @import "swiper/scss/navigation";
    @import "swiper/scss/pagination";
    .swiper-button-prev:after {
        content: "🠐";
        font-size: 24px;
        color: #282828;
    }
    .swiper-button-next:after {
        content: "🠒";
        font-size: 24px;
        color: #282828;
    }
    .swiper {
        max-width: 540px;
    }
}

.symptomes__wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1420px;
    margin-top: 20px;
    & .symptomes__title {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 165%;
        /* or 66px */
        color: #213450;
    }
    & .symptomes__subtitle {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 165%;
        /* or 26px */
        display: flex;
        align-items: flex-end;
        color: #001636;
        max-width: 900px;
    }
}

.symptomes {
    width: 100%;
    margin: 0 auto;
    max-width: 1420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    & .symptomes__info {
        width: 100%;
        max-width: 432px;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        & .symptomes__info-icon {
            width: 180px;
            max-width: 192px;
            margin-bottom: 20px;
            & .symptomes__description {
                margin-top: 5px;
            }
        }
    }
    & .symptomes__video {
        width: 100%;
        max-width: 570px;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        filter: drop-shadow(0px 12px 36px rgba(28, 64, 97, 0.1)) drop-shadow(0px 4px 12px rgba(28, 64, 97, 0.06));
        box-sizing: border-box;
        background: linear-gradient(253.15deg, rgba(111, 214, 177, 0.2) 1.71%, rgba(117, 210, 84, 0.102083) 78.14%, rgba(57, 245, 76, 0) 97.34%);
        padding: 30px;
        box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
        border-radius: 30px;
        & .video__title {
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 165%;
            /* or 53px */
            color: #213450;
            margin-bottom: 20px;
        }
        & .video {
            & iframe {}
        }
    }
}