<div class="symptomes__wrapper">
    <h2 class="symptomes__title">Какие симптомы помогает снять Тамиз?​</h2>
    <h3 class="symptomes__subtitle">Фирменная смесь «Тамиз» - это 5 трав, собранных вместе для комплексного воздействия на организм с целью нормализации процессов пищеварения​</h3>
    <div class="symptomes">
        <div class="symptomes__info">
            <div class="symptomes__info-icon" *ngFor="let symptome of symptomes">
                <img class="symptomes__icon" src="{{symptome.src}}">
                <p class="symptomes__description">{{symptome.description}}</p>
            </div>
        </div>
        <div class="symptomes__video" *ngIf="!mobile">
            <h4 class="video__title">Рекомендации врача​</h4>
            <swiper [config]="config">
                <ng-template swiperSlide>
                    <div class="video">
                        <iframe width="520" height="270" src="https://www.youtube.com/embed/wAFWlDOH9Q8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </ng-template>
                <ng-template swiperSlide><iframe width="520" height="270" src="https://www.youtube.com/embed/9X6NZmlNvMg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></ng-template>
            </swiper>
        </div>
        <div class="symptomes__video" *ngIf="mobile">
            <h4 class="video__title">Рекомендации врача​</h4>
            <div>
                <div class="video">
                    <iframe width="350" height="230" src="https://www.youtube.com/embed/wAFWlDOH9Q8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div><iframe width="350" height="230" src="https://www.youtube.com/embed/9X6NZmlNvMg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
    </div>

</div>