<div class="workway__wrapper">
    <div class="workway__title">
        Тамиз – комплексное воздействие для нормализации работы кишечника​
    </div>
    <div class="workway">
        <div class="workway__card color-1">
            <h3 class="workway__card-title">Быстрая помощь</h3>
            <ul>
                <li><span class="bold">Спазмолитическое действие</span> – снятие спазмов кишечника, сфинктеров желчевыводящих протоков, поджелудочной железы (Ферула + Айован + Гардения)</li>
                <li><span class="bold">Болеутоляющее действие</span> ​ (Гардения + Имбирь)</li>
                <li><span class="bold">Ветрогонное действие</span> (Ферула + Айован + Гардения)​</li>
            </ul>
        </div>
        <div class="workway__card color-2">
            <h3 class="workway__card-title">Санация ЖКТ</h3>
            <ul>
                <li><span class="bold">Антигельминтное действие</span>​(Ферула + Айован + Гардения + Имбирь)​</li>
                <li><span class="bold">Антибактериальное действие</span> ​ (все 5 трав)</li>
                <li><span class="bold">Противогрибковое  </span> (Айован + Имбирь)​</li>
                <li><span class="bold">Противовирусное </span> (Имбирь)​</li>
            </ul>
        </div>
        <div class="workway__card color-1">
            <h3 class="workway__card-title">Нормализация работы ЖКТ</h3>
            <ul>
                <li><span class="bold">Устранение холестаза – </span>желчегонное действие (Ферула+Айован)</li>
                <li><span class="bold">Уменьшение воспаления: </span> ​ отека и проницаемости тканей, снижение повреждения (Гардения + Имбирь + Перец)</li>
                <li><span class="bold">Защита тканей – </span>гастропротективное действие ​(Перец), детоксикация и улучшение кровоснабжения ​(Перец + Имбирь), защита от окислительного стресса – антиоксидантное действие (Ферула + Гардения + Имбирь + Перец)​​</li>
            </ul>
        </div>
        <div class="workway__card color-2">
            <h3 class="workway__card-title">Дополнительные действия</h3>
            <ul>
                <li><span class="bold">Гепатопротекторное</span> (Айован)</li>
                <li><span class="bold">Гиполипидемическое</span> ​ (Айован)​</li>
                <li><span class="bold">Противоязвенное </span> (Перец)​​</li>
                <li><span class="bold">Противорвотное </span> (Имбирь)​</li>
            </ul>
        </div>
    </div>
</div>