<div class="about__wrapper">
    <div class="about">
        <div class="about__left">
            <div class="about__card card-1">
                <h2 class="about__card-title">Какие работает Тамиз?​</h2>
                <p class="about__card-subtitle">Тамиз – комплексное воздействие для нормализации работы кишечника</p>
            </div>
            <div class="about__card card-2">
                <h2 class="about__card-title">Состав:​</h2>
                <div class="about__card-table">
                    <img src="assets/imgs/about01.png">
                    <img src="assets/imgs/about02.png">
                </div>
            </div>
        </div>
        <div class="about__right">
            <div class="about__card card-3">
                <h2 class="about__card-title">Способствует :​</h2>
                <ul class="about__card-subtitle">
                    <li>Снижению тонуса мышц при спазмах и улучшению оттока пищеварительных соков и желчи благодаря Асафетиде, Айовану, Перцу</li>
                    <li>Уменьшению болевыых ощущений и воспаления за счет действующих веществ Гардении и Имбиря</li>
                    <li>Нормалицазии моторной и эвакуационной функции тонкого и толстого кишечника за счет 5 трав входящих в состав Тамиз</li>
                </ul>
            </div>
        </div>
    </div>
</div>