.hero-wrapper {
    width: 100%;
    margin: 0 auto;
    background-image: url(../../../../../assets/imgs/bgmain.png);
    margin-top: -155px;
}

.hero {
    width: 100%;
    max-width: 1275px;
    margin: 0 auto;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 70px;
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    & .hero__title {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 165%;
        /* or 79px */
        color: #213450;
        width: 100%;
        max-width: 691px;
        padding-top: 60px;
    }
    & .hero__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 13px 50px;
        width: 220px;
        height: 56px;
        border: none;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 165%;
        /* or 31px */
        background: #006B2F;
        border-radius: 5px;
        color: #FFFFFF;
        &:hover {
            background: #009641;
            transition: all 0.3s ease;
            cursor: pointer;
        }
    }
    & .hero__image-item-1 {
        max-width: 564px;
        & img {
            width: 100%;
            max-width: 564px;
        }
    }
}

@media screen and (max-width:428px) {
    .hero__title {
        font-size: 32px !important;
        text-align: center !important;
        margin-bottom: 15px;
    }
    .hero__button {
        margin: 0 auto !important;
    }
}