<div class="hero-wrapper">
    <div class="hero">
        <div class="hero__title-block">
            <h1 class="hero__title">Природное спокойствие в животе.Смесь уникальных трав Индии</h1>
            <button class="hero__button" data-aos="fade-up" (click)="onClickScroll('about')">Узнать больше</button>
        </div>
        <div class="hero__image">
            <div class="hero__image-item-1">
                <img class="hero__image-item" src="assets/imgs/hero-img.png">
            </div>
        </div>

    </div>
</div>