<div class="clients__wrapper">
    <div class="clients">
        <div class="clients__title">Кому может подойти Тамиз?</div>
        <ul>
            <li>Когда кишечник сам не справляется и дает о себе знать (боль, тяжесть в животе, урчание, газообразование, неустойчивый стул со склонностью к запорам)​</li>
            <li>Функциональная диспепсия</li>
            <li>Синдром раздраженного кишечника с запорами</li>
            <li>Постковидные нарушения тонкого и толстого кишечника</li>
            <li>В качестве пищевой добавки к столу №1, 4 или 5 </li>
        </ul>
    </div>
</div>