<div class="footer__wrapper">
    <div class="footer">
        <div class="footer__logo"><img src="assets/imgs/cadilalogowhite.png"></div>
        <ul>
            <li class="footer__list-title">Меню</li>
            <li class="footer__navigation-item"><a (click)="onClickScroll('hero')">Инструкция</a></li>
            <li class="footer__navigation-item"><a (click)="onClickScroll('about')">Подобрать препарат</a></li>
            <li class="footer__navigation-item"><a (click)="onClickScroll('prescription')">Рекомендации</a></li>
            <li class="footer__navigation-item"><a (click)="onClickScroll('blog')">Вопросы</a></li>
            <li class="footer__navigation-item"><a (click)="onClickScroll('locations')">Где купить?</a></li>
        </ul>
        <ul>
            <li class="footer__list-title">Поддержка</li>
            <li>Политика конфиденциальности</li>
            <li>Инструкция</li>
        </ul>
    </div>
    <div class="footer__btm">
        <p class="footer__btm-text">© 2022. Все права защищены</p>
    </div>
</div>