<div class="footer__wrapper">
    <div class="footer">
        <div class="footer__logo"><img src="assets/imgs/cadilalogowhite.png"></div>
        <ul>
            <li class="footer__list-title">Меню</li>
            <li class="footer__navigation-item"><a (click)="onClickScroll('hero')">Листок-вкладыш</a></li>
            <li class="footer__navigation-item"><a (click)="openDialog()">Подобрать препарат</a></li>
            <li class="footer__navigation-item"><a (click)="onClickScroll('symptomes')">Рекомендации</a></li>
            <li class="footer__navigation-item"><a (click)="onClickScroll('questions')">Вопросы</a></li>
            <li class="footer__navigation-item"><a (click)="onClickScroll('map')">Где купить?</a></li>
        </ul>
        <ul>
            <li class="footer__list-title">Поддержка</li>
            <li class="footer__navigation-item">Политика конфиденциальности</li>
            <li class="footer__navigation-item">Инструкция</li>
        </ul>
    </div>
    <div class="footer__btm">
        <p class="footer__btm-text">© 2022. Все права защищены</p>
    </div>
</div>