<div class="header-wrapper">
    <div class="header">
        <div class="header__logo">
            <div class="header__logo-img">
                <img class="header__logo-img" src="assets/imgs/tamizlogo.png">
                <div class="header__logo-splitter"></div>
                <img class="header__logo-img" src="assets/imgs/cadilalogo.png">
            </div>
        </div>
        <div class="header__navigation" *ngIf="!mobile">
            <div class="navigation-wrapper">
                <ul>
                    <li class="header__navigation-item"><a (click)="onClickScroll('hero')">Листок-кладыш</a></li>
                    <li class="header__navigation-item"><a (click)="openDialog()">Подобрать препарат</a></li>
                    <li class="header__navigation-item"><a (click)="onClickScroll('symptomes')">Рекомендации</a></li>
                    <li class="header__navigation-item"><a (click)="onClickScroll('question')">Вопросы</a></li>
                    <li class="header__navigation-item header__button"><a (click)="onClickScroll('map')">Где купить?</a></li>
                </ul>
            </div>
        </div>
        <app-burger *ngIf="mobile"></app-burger>
    </div>
</div>