.header-wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    & .header__navigation {
        & .navigation-wrapper {
            & ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                & li {
                    margin-right: 20px;
                }
                & li:last-child {
                    margin-right: 0px;
                }
                & li a {
                    font-family: 'Comfortaa';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    text-decoration: none;
                    color: #282828;
                    transition: all 250ms ease-in-out;
                    &:hover {
                        transition: all 250ms ease-in-out;
                        cursor: pointer;
                        color: #006B2F;
                    }
                }
            }
        }
    }
    .header__logo-img {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        & .header__logo-splitter {
            border-left: 1px solid #8f8f8f;
            width: 2px;
            height: 30px;
            margin-right: 15px;
        }
    }
    & .header__button {
        width: 205px;
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background: #006B2F;
        color: #FFFFFF !important;
        font-size: 20px;
        font-weight: 700;
        transition: all 250ms ease-in-out;
        &:hover {
            transition: all 250ms ease-in-out;
            cursor: pointer;
            background: #018a3c;
        }
        & a {
            color: #FFFFFF !important;
        }
    }
}