<div class="burger-menu" [class.active]="active" (click)="onBurgerClicked()">
    <p class="burger-menu-btn">МЕНЮ</p>
    <div class="burger-container">
        <div class="burger-inner"></div>
    </div>
    <div class="overlay">
        <div class="burger__nav-contacts">
            <a href="tel:+74959375736" class="burger__nav-phone">+7(495)937-57-36</a>
            <a href="mailto:info@geposave.ru" class="burger__nav-mail">info@geposave.ru</a>
        </div>
        <ul class="burger__nav">
            <li class="header__nav-item"><a>Главная</a></li>
            <li class="header__nav-item"><a (click)="onClickScroll('about')">О продукте</a></li>
            <li class="header__nav-item"><a (click)="onClickScroll('prescription')">Кому?</a></li>
            <li class="header__nav-item"><a (click)="onClickScroll('blog')">Статьи</a></li>
            <li class="header__nav-item"><a (click)="onClickScroll('locations')">Где купить?</a></li>
            <li class="header__nav-item"><a (click)="onClickScroll('footer')">Контакты</a></li>
        </ul>
        <div class="burger__logo"><img src="assets/img/main_logo.png"></div>
    </div>
</div>