<div class="map__wrapper" id="map">
    <div class="map__title">Где купить?</div>
    <div class="map">
      <div
        class="map__card"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="100"
      >
        <div class="locarions__card-img">
          <a
            href="https://apteka.magnit.ru/product/tamiz_kapsuly_dlya_vnutrennego_primeneniya_200mg_100_59g_kartonnaya_upakovka_kadila_farmasyutikalz_l"
            ><img src="assets/imgs/pharmacy01.png"
          /></a>
        </div>
      </div>
      <div
        class="map__card"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="300"
      >
        <div class="locarions__card-img">
          <a
            href="https://zdravcity.ru/search/?what=%D1%82%D0%B0%D0%BC%D0%B8%D0%B7"
            ><img src="assets/imgs/pharmacy02.jpg"
          /></a>
        </div>
      </div>
      <div
        class="map__card"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="500"
      >
        <div class="locarions__card-img">
          <a
            href="https://market.yandex.ru/product--tamiz-kaps/613853115?glfilter=17796083%3A20~20_101769426885&text=%D1%82%D0%B0%D0%BC%D0%B8%D0%B7&cpc=JyDyrM-irCUe0w6dNRWQtdKme2ey8-Fto--mpWiJdC6YWjrno2tdP1m8iuocRBVcNhxYpALiCl-eNbxt5noSV1SJZA8iW6Whv90xIuk3DmlWwCcLMNnwq3OHJFeVWBohLTOIoo_OaFtX3_5NpGCX7EkdUKR2fVm7i_JMNUttaTSvsvHH61k14A%2C%2C&sku=101769426885&do-waremd5=-XB5hFcsQtMY8x6KNBWzdA&cpa=1&nid=72470
          "
            ><img src="assets/imgs/pharmacy03.png"
          /></a>
        </div>
      </div>
      <div
        class="map__card"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="700"
      >
        <div class="locarions__card-img">
          <a
            href="https://www.wildberries.ru/catalog/0/search.aspx?sort=popular&search=%D1%82%D0%B0%D0%BC%D0%B8%D0%B7
          "
            ><img src="assets/imgs/pharmacy04.png"
          /></a>
        </div>
        <!-- <div class="map__card-description">
                  <ul>
                      <li>Улица Вавилова д.17</li>
                      <li>Улица Вавилова д.17</li>
                      <li>Улица Вавилова д.17</li>
                      <li>Улица Вавилова д.17</li>
                  </ul>
              </div> -->
      </div>
      <div
        class="map__card"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="700"
      >
        <div class="locarions__card-img">
          <a
            href="https://www.ozon.ru/product/tamiz-kapsuly-100-685076653/?asb=mkutswpPo2qDnpix3SrsQLk4PrE3CMQDq5sNBaoSTFc%253D&asb2=AjvLH405-MFZfRCNjWe-Osuxt7hGEVY_yVb4ZtRKJcHModjbaLlbdyGNbsfig4-i&avtc=1&avte=2&avts=1665740479&keywords=%D1%82%D0%B0%D0%BC%D0%B8%D0%B7&sh=SoFEhlZcZg
          "
            ><img src="assets/imgs/pharmacy05.png"
          /></a>
        </div>
        <!-- <div class="map__card-description">
                  <ul>
                      <li>Улица Вавилова д.17</li>
                      <li>Улица Вавилова д.17</li>
                      <li>Улица Вавилова д.17</li>
                      <li>Улица Вавилова д.17</li>
                  </ul>
              </div> -->
      </div>
    </div>
  </div>