<div class="map__wrapper">
    <div class="map__title">Где купить?</div>
    <div class="map">
        <div class="map__card" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <div class="locarions__card-img">
                <img src="assets/imgs/pharmacy01.png">
            </div>
            <div class="map__card-description">
                <ul>
                    <li>Улица Вавилова д.17</li>
                    <li>Улица Вавилова д.17</li>
                    <li>Улица Вавилова д.17</li>
                    <li>Улица Вавилова д.17</li>
                </ul>
            </div>
        </div>
        <div class="map__card" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
            <div class="locarions__card-img">
                <img src="assets/imgs/pharmacy01.png">
            </div>
            <div class="map__card-description">
                <ul>
                    <li>Улица Вавилова д.17</li>
                    <li>Улица Вавилова д.17</li>
                    <li>Улица Вавилова д.17</li>
                    <li>Улица Вавилова д.17</li>
                </ul>
            </div>
        </div>
        <div class="map__card" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
            <div class="locarions__card-img">
                <img src="assets/imgs/pharmacy01.png">
            </div>
            <div class="map__card-description">
                <ul>
                    <li>Улица Вавилова д.17</li>
                    <li>Улица Вавилова д.17</li>
                    <li>Улица Вавилова д.17</li>
                    <li>Улица Вавилова д.17</li>
                </ul>
            </div>
        </div>
        <div class="map__card" data-aos="fade-up" data-aos-duration="500" data-aos-delay="700">
            <div class="locarions__card-img">
                <img src="assets/imgs/pharmacy01.png">
            </div>
            <div class="map__card-description">
                <ul>
                    <li>Улица Вавилова д.17</li>
                    <li>Улица Вавилова д.17</li>
                    <li>Улица Вавилова д.17</li>
                    <li>Улица Вавилова д.17</li>
                </ul>
            </div>
        </div>
    </div>
</div>