<!-- <swiper [config]="config">
    <ng-template swiperSlide>
        <div class="video">
            <iframe width="520" height="270" src="https://www.youtube.com/embed/wAFWlDOH9Q8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </ng-template>
    <ng-template swiperSlide><iframe width="520" height="270" src="https://www.youtube.com/embed/9X6NZmlNvMg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></ng-template>
</swiper> -->
<div class="pop-up-container-dialog mat-dialog-content">
<video src="assets/videos/video01.mp4" controls="controls" class="video-dialog" preload="none"></video>
<video src="assets/videos/video02.mp4" controls="controls" class="video-dialog" preload="none"></video>
           <div class="pop-up-image">
        <img class="pop-up-image" src="assets/imgs/popup01.png">
    </div>
    <div class="pop-up-image">
        <img class="pop-up-image" src="assets/imgs/popup02.png">
    </div>
</div>
