.ingridients__wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1272px;
    margin-top: 60px;
}

.ingridients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    & .ingridients__card {
        width: 100%;
        max-width: 333px;
        & .card__title {
            text-align: center;
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 165%;
            /* or 40px */
            color: #001636;
        }
        & .card__inner-wrapper {
            background: linear-gradient(180deg, rgba(0, 106, 47, 0.61) 11.46%, rgba(0, 106, 47, 0.29) 69.27%, rgba(0, 106, 47, 0.22) 100%);
            border-radius: 37px;
            max-width: 333px;
        }
        & .card__image {
            display: block;
            margin: 0 auto;
            padding-top: 20px;
            padding-bottom: 20px;
            & img {
                display: block;
                margin: 0 auto;
            }
        }
        & .card__dialog {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0);
            background: #F8F9FA;
            border-radius: 32px;
            max-width: 790px;
            display: none;
            & .card__dialog-button {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                box-sizing: border-box;
                padding: 15px;
            }
            & .card__dialog-description {
                box-sizing: border-box;
                padding: 40px;
                padding-top: 10px;
            }
            & .card__dialog-compound {
                background: radial-gradient(73.8% 124.59% at 82.03% 36.35%, #E7FFE1 14.06%, #F3FFF4 53.65%, #E0FFF0 100%)/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
                ;
                border-radius: 32px;
                box-sizing: border-box;
                padding: 40px;
            }
        }
    }
}

.active {
    display: block !important;
}

#id01 {
    z-index: 10;
}

#id02 {
    z-index: 11;
}

#id03 {
    z-index: 12;
}

#id04 {
    z-index: 13;
}

#id05 {
    z-index: 14;
}